.footer {
  background: linear-gradient(135deg, #ffffff 0%, #16037c 50%, #ffe0b2 100%);
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}
