<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-left: 20px; padding-right: 20px;background: linear-gradient(135deg, #070707 0%, #494963 50%, #13100c 100%);
">
  <a class="navbar-brand" [routerLink]="['']">Projeto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['calculadora']">Calculadora</a>
      </li>
    </ul>
  </div>
</nav>